* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media screen and (max-width: 780px) {
    header {
        font-family: var(--fonte-title);
        background-color: white;
         
        }

        #nav-father {
        background-color: #1B262C;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 11px 35px;
        }

        #nav-father h1 {
        color: white;
        background-color: #1B262C;
        width: 140px;
        font-size: 30px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        }

        #material-symbols-outlined {
        font-size: 35px;
        line-height: 1;
        color: aliceblue;
        font-family: 'Material Symbols Outlined';
        font-weight: normal;
        font-style: normal;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;
        }

        ul li {
        background-color: rgba(0, 0, 0, 0.726);
        color: aliceblue;
        height: 31vh; 
        font-weight: 900;
        letter-spacing:1px;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        }

        .primeira-section {
            height: 900px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .primeira-section-title{
            background-color: #044b74;
            height: 90vh;
            padding-top: 110px;
            font-size: 15px;
            color: #CEEEFD;
            font-weight: bolder;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        .primeira-section-title > h1{
           color: #CEEEFD;
           padding: 0px 10px;
           font-size: 40px;
        }
        .primeira-section-title > span {
            margin-top: 20px;
            width: 100px;
            background-color: #CEEEFD;
            border: 3px solid #CEEEFD;
        }

        .primeira-section-title > p {
            margin-top: 20px;
            padding: 0px 40px;
        }
        .primeira-section-title > a {
            background-color: green;
            color: aliceblue;
            font-family: Arial, Helvetica, sans-serif;
            width: 180px;
            height: 40px;
            margin-top: 10px;
            font-size: 20px;
            border-radius: 8px;
            margin-top: 90px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-decoration: none;
        }
        .primeira-section-title  a:hover {
            padding: 40px;
            transition: 0.5s;
        }
        .img {
            background-image: url(IMAGENS/mobile.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            height: 500px;
            width: 100%;
            margin: 0;
        }
        .segunda-section {

            height: 1100px;
            width: 100%;
            display: flex;
            flex-direction: column;
         
        }
        .segunda-section-title {
            height: 130px;
            background-color: rgb(255, 255, 255);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

        }
        .segunda-section-title h2  {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: Arial, Helvetica, sans-serif;
            font-weight:300;
            width: 100%;
            font-size: 2em;
    
        }
        .pl {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding-top: 20px;
        }
        .circulo {
            height: 7px;
            width: 6px;
            background-color: #045174;
            border-radius: 50%;
         
          
        }
        .linha {
            height: 2px;
            width: 100px;
            background-color: #CDDCE3;
            border-radius: 2px;
            margin-left: 10px;
        }
        .sessoes {
            height: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .sub-sessoes {
            background-color: black;
            height: 265px;
            width: 400px;
            margin-top: 25px;
            border-radius: 12px;
        }
        .sub-sessoes img {
            height: 180px;
            width: 100%;
            border-radius: 15px 15px 0px 0px;
            background-image: url();
        }
        .sessao-text {
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content:space-evenly ;
            height: 30%;
            padding: 0px 20px;
        }
        .sessao-text p {
            color: white;
            
        }
        .sessao-text h3 {
            color: white;
        }
    }
        