* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --fonte-title:"Inter", sans-serif;
                  font-optical-sizing: auto;
                  font-weight:weight;
                  font-style: normal;
    --cor-title:#7AC5D8;
}

@media screen and (max-width: 780px) {
    header {
        font-family: var(--fonte-title);
        
    }
    #nav-father {
        background-color: rgb(0, 0, 0);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        margin-top: 0px;
    }

    #nav-father h1 {
        height: 50px;
        width: 140px;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        border: 1px solid var(--cor-title);
        background-color: rgba(0, 0, 0, 0.655);
        
    }
    #material-symbols-outlined {
        font-family: 'Material Symbols Outlined';
        font-weight: normal;
        font-style: normal;
        font-size: 35px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;
        color: var(--cor-title);
    }
        ul li {
        background-color: rgba(0, 0, 0, 0.726);
        color: var(--cor-title);
        height: 25vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 900;
        letter-spacing:3px;
        }
    #primeira-section { 
        padding: 30px 20px;
   

    }

    #primeira-section h2 {
        height: 230px;
        width: 300px;
        margin-right: 100px;
        font-size: 40px;
        line-height:45px;
        padding-top: 25px;
        color: var(--cor-title);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: left;
    }

    #primeira-section p {
        height: 150px; 
        width: 300px;
        font-size: 30px;
        margin-right: 200px;
        padding-top: 20px;
        letter-spacing: 2px;
        color: black;
        font-family: 'Inter';
        text-align: left;
        font-weight: bolder;
    }

    #primeira-section div {
        display: flex;
        justify-content: center;
        height: 150px;
    
    }
    #primeira-section  a {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto 10px;
        height: 50px;
        width: 135px;
        color: white;
        text-decoration: none;
        font-family: sans-serif;
    
    }
    #link-p {
        background-color: var(--cor-title);
        letter-spacing: 1px;
        margin: 0;
        margin: 10px;
    }

    #link-s {
        background-color: rgba(0, 0, 0, 0.589);
        margin: 0;
        margin: 10px;
    }

    #segunda-section {
        height: 250px;
        padding: 20px 20px;
    }

    #segunda-section p {
        letter-spacing: 1px;
        font-family: var(--fonte-title);
        font-size: 20px;
        margin-top: 15px;
    }

    #segunda-section h1 {
        font-size: 25px;
        font-family: var(--fonte-title);
        letter-spacing: 1px;
        margin-top: 15px;
    }

    #segunda-section div {

        margin-top: 10px;
        height: 55px;
        text-decoration: none;
        font-size: 20px;
    }
    #segunda-section div a {
        height: 100%;
        width: 130px;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        background-color: var(--cor-title);
        font-family: var(--fonte-title);
        color: black;
    }
    .terceira-section {
        background-color: red;
        height: auto
        width: 100%;
        display: flex;
        justify-content: start;
    }
    .terceira-section div{
        background-color: blue;
        height: auto;
        width: 100%;
        margin: 0px 30px;
        display: flex;
        flex-direction: column;
    }
    .terceira-section div img {
        background-image: url(IMAGENS/Captura\ de\ tela\ 2026-01-14\ 130202.png);
        background-position: center center;
        background-repeat: no-repeat;
        height:290px;
        }
        .terceira-section  div  span {
        background-color: black;
        height: 1px;
        width: 30px;
        margin-top: 10px;
    }

    .terceira-section div h2 {
        margin-top: 5px;
        font-family:var(--fonte-title)

    }

    .terceira-section div p {
        text-align: justify
    }
}