* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.5;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background: #1B262C;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 25px;
 
}

.logo {
  color: white;
}

.menu {
  display: flex;
  list-style: none;
  gap: 20px;
  
}

.menu a {
  color: white;
  text-decoration: none;
  margin: 40px;
}

/* HERO */
.hero {
  height: 95vh;
  margin-top: 60px;
  background: #044b74;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 20px;
}

.hero-text {
    max-width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-evenly;
    height: 100%;
}

.hero h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 20px;
  margin-bottom: 30px;
}

.btn {
  background: green;
  color: white;
  padding: 12px 25px;
  border-radius: 6px;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: white;
  color: green;
}

/* SERVIÇOS */
.servicos {
  padding: 70px 20px;
  background-color: red;

}

.titulo {
  text-align: center;
  margin-bottom: 40px;
  
}

.decoracao {
  width: 120px;
  height: 3px;
  background: #045174;
  margin: 10px auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.card {
  background: #1B262C;
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: 10px;
  width: 350px;
  text-align: center;
  height: 460px;
}

.card img {
  width: 100%;
  height: 350px;
}

.card h3 {
  padding:7px 20px;
}

.card p {
  font-size: 14px;
  padding: 0px 20px;
}

/* CATÁLOGOS */
.catalogos {
  padding: 70px 20px;
  background: #e7e7e7;
  font-family: Arial, Helvetica, sans-serif;
  
}

.catalogos h3 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.bloco-cards {
  height: 300px;
  width: 100%;
  max-width: 250px;
  background: black;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  transition: 0.3s;
}

.bloco-cards:hover {
  transform: scale(1.05);
}

.bloco-cards a {
  background: #466372;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: white;
  text-decoration: none;
  border-radius: 0 0 10px 10px;
}

.bloco-cards a:hover {
  background: white;
  color: #1B262C;
  font-weight: bold;
}

/* CONTATO */
.contato {
  padding: 70px 20px;
  background: #f4f4f4;
  text-align: center;
}

.contato form {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

input, textarea, button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
}

button {
  background: #045174;
  color: white;
  border: none;
  cursor: pointer;
}

/* FOOTER */
.footer {
  background: #1B262C;
  color: white;
  text-align: center;
  padding: 30px;
}

.social {
  font-size: 24px;
  margin-bottom: 15px;
}

.social a {
  color: white;
  margin: 0 10px;
}

/* RESPONSIVO */
@media (max-width: 600px) {

.menu a {
  color: white;
  text-decoration: none;
  margin: 0;
 }
  .cards {
    grid-template-columns: repeat(1, 2fr);
  }

  .hero h2 {
    font-size: 50px;
  }

  .hero p {
    font-size: 24px;
  }
  
  .cards img {
    border-radius: 10px 10px 0px 0px;
  }
  .cards {
    width: 100%;
  
  }

  .card {
    border-radius: 10px;
    width: 80%;    
  }
}



@media (min-width: 1024px) {
  .hero {
    background-image: url(IMAGENS/bg.png);
    background-size: cover;
    background-position: center;
  }

  .cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    height: 100%;
}
  
  .catalogos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 20px;
    background: #e7e7e7;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
  }
}