/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.5;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background: #1B262C;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 25px;
}

.logo {
  color: white;
}

.menu {
  display: flex;
  list-style: none;
  gap: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
}

/* HERO */
.hero {
  min-height: 100vh;
  margin-top: 60px;
  background: #044b74;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 20px;
  background-image: url(IMAGENS/bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.hero-text {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 500px;
}

.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.btn {
  background: #008000;
  width: 200px;
  color: white;
  padding: 12px 25px;
  border-radius: 6px;
  text-decoration: none;
  animation: animate-outline 1s ease-out infinite;
  cursor: pointer;
}


@keyframes animate-outline {
  from {
    outline: 0px solid #008000 ;
  }
  to {
    outline: 15px solid #00800024;
  
  }
}

/* SERVIÇOS */
.servicos {
  padding: 70px 20px;
  align-items: center;
}

.titulo {
  text-align: center;
  margin-bottom: 40px;
}

.decoracao {
  width: 120px;
  height: 3px;
  background: #045174;
  margin: 10px auto;
}

/* GRID moderno */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.card {
  background: #1B262C;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card h3 {
  padding: 15px;
}

.card p {
  font-size: 14px;
  padding: 0 15px 20px;
}

/* CATÁLOGOS */
.catalogos {
  background: #e7e7e7;
  padding: 70px 20px;
  text-align: center;
}

.container-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
  margin-top: 40px;
  max-width: 700px;
  margin: 40px auto;
}

.bloco-cards {
  height: 300px;
  background: black;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  transition: 0.3s;
  box-shadow: 0px 0px 20px #000000;
}


.bloco-cards:hover {
  transform: scale(1.05);
}

.bloco-cards a {
  background: #466372;
  width: 100%;
  padding: 10px;
  color: white;
  text-decoration: none;
  border-radius: 0 0 10px 10px;
}

.bloco-cards a:hover {
  background: white;
  color: #1B262C;
}
.bloco-cards:nth-child(1)  {
    background-image: url(CATALOGOS/medium_AF_DIGITAL_2024_maio_catalogo_hospitality_FOOD_SERVICE_MI_001_d0ae84a3a0.jpg);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% 86%;
    
  }
  .bloco-cards:nth-child(2)  {
    background-image: url(CATALOGOS/medium_Equipment_712d66e584.jpg);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% 86%;
  }
  .bloco-cards:nth-child(3)  {
    background-image: url(CATALOGOS/medium_AF_DIGITAL_2024_maio_Livro_Catalogo_FURNITURE_001_edd5e7db1a.jpg);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% 86%;
    
  }
/* CONTATO */
.contato {
  padding: 70px 20px;
  background: #f4f4f4;
  text-align: center;
}

.contato form {
  max-width: 500px;
  margin: auto;
}

input, textarea, button {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
}

button {
  background: #045174;
  color: white;
  border: none;
  cursor: pointer;
}

/* FOOTER */
.footer {
  background: #1B262C;
  color: white;
  text-align: center;
  padding: 30px;
}

.social {
  font-size: 24px;
  margin-bottom: 15px;
}

.social a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    height: auto;
    padding: 10px;
  }
  .hero {
    background-image: none;
  }
  .hefro h2 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  
  .container-cards {
    display: flex;
    flex-direction: column;
    max-width: 80%;
  }
  .bloco-cards {
    flex: 1 1 500px;
  }
  .bloco-cards:nth-child(1)  {
    background-image: url(CATALOGOS/medium_AF_DIGITAL_2024_maio_catalogo_hospitality_FOOD_SERVICE_MI_001_d0ae84a3a0.jpg);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
  }
  .bloco-cards:nth-child(2)  {
    background-image: url(CATALOGOS/medium_Equipment_712d66e584.jpg);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .bloco-cards:nth-child(3)  {
    background-image: url(CATALOGOS/medium_AF_DIGITAL_2024_maio_Livro_Catalogo_FURNITURE_001_edd5e7db1a.jpg);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  
}

 @media (min-width: 1214px) {
  .servicos {
    max-height: 1100px;
  }
  .cards {
    height: 100%;
    align-items: center;
  }
  .card {
    height: 400px;
    box-shadow: 0px 0px 20px #000000;
  }
  
  .catalogos {
    height: 800px;
    padding: 70px 10px;
  }
  .container-cards {
    height: 100%;
    align-items: center;
    
  }
 }