* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --fonte-title:"Inter", sans-serif;
                  font-optical-sizing: auto;
                  font-weight:weight;
                  font-style: normal;
    --cor-title:#7AC5D8;
}

@media screen and (max-width: 780px) {
    header {
        font-family: var(--fonte-title);
        
    }
    #nav-father {
        background-color: rgb(0, 0, 0);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        margin-top: 0px;
    }

    #nav-father h1 {
        height: 50px;
        width: 140px;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        border: 1px solid var(--cor-title);
        background-color: rgba(0, 0, 0, 0.655);
        
    }
    #material-symbols-outlined {
        font-family: 'Material Symbols Outlined';
        font-weight: normal;
        font-style: normal;
        font-size: 35px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;
        color: var(--cor-title);
}
ul li {

    background-color: rgba(0, 0, 0, 0.726);
    color: var(--cor-title);
    height: 29vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    letter-spacing:3px;
}
#primeira-section { 
    padding: 30px 20px ;
    height: auto;
    margin: 0 auto;

}

#primeira-section h2 {
    height: 230px;
    width: 75%;
    margin-right: 100px;
    font-size: 40px;
    line-height:45px;
    letter-spacing:1px;
    letter-spacing: 5px;
    color: var(--cor-title);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
}

#primeira-section p {
    height: 150px; 
    width: 75%;
    font-size: 30px;
    margin-right: 200px;
    color: black;
    font-family: 'Inter';
    text-align: left;
    font-weight: bolder;
}

#primeira-section div {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    
}
 #primeira-section  a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px 10px;
    height: 50px;
    width: 135px;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    
 }
#link-p {
    background-color: var(--cor-title);
    letter-spacing: 1px;
    margin: 0;
    margin: 10px;
}

#link-s {
    background-color: rgba(0, 0, 0, 0.589);
    margin: 0;
    margin: 10px;
}

#leia-mais {
    height: 250px;
}

#leia-mais p {
    display: inline;
    letter-spacing: 1px;

    font-family: var(--fonte-title);
    font-size: 15px;
    margin-top: 15px;
}

#leia-mais h1 {
    font-size: 25px;
    font-family: var(--fonte-title);
    letter-spacing: 1px;
    margin-top: 15px;
}
#leia-mais a {
    background-color: var(--cor-title);
    margin: 0px;
    font-size: 15px;
    margin-top: 15px;
}
}