* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media screen and (max-width: 780px) {
    header {
        font-family: var(--fonte-title);
        background-color: white;
         
        }

        #nav-father {
        background-color: rgb(0, 0, 0);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 11px 35px;
        }

        #nav-father h1 {
        color: white;
        background-color: rgba(0, 0, 0, 0.655);
        width: 140px;
        font-size: 30px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        }

        #material-symbols-outlined {
        font-family: 'Material Symbols Outlined';
        font-weight: normal;
        font-style: normal;
        font-size: 35px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;
        color: aliceblue;
        }

        ul li {
        background-color: rgba(0, 0, 0, 0.726);
        color: aliceblue;
        height: 25vh;
        font-weight: 900;
        letter-spacing:1px;
        height: 31vh; 
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        }

        .primeira-section {
            background-color: red;
            height: 660px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .primeira-section-title{
            background-color: #045174;
            padding-top: 70px;
            height: 100vh;
            color: #CEEEFD;
            font-weight: bolder;
            font-size: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        .primeira-section-title > h1{
           color: #CEEEFD;
           padding: 0px 10px;
           font-size: 40px;
        }
        .primeira-section-title > span {
            margin-top: 15px;
            width: 100px;
            background-color: #CEEEFD;
            border: 3px solid #CEEEFD;
        }

        .primeira-section-title > p {
            margin-top: 30px;
            padding: 0px 40px;
        }
        .primeira-section-title > a {
            background-color: green;
            color: aliceblue;
            font-family: Arial, Helvetica, sans-serif;
            width: 180px;
            height: 40px;
            margin-top: 10px;
            font-size: 20px;
            border-radius: 8px;
            margin-top: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-decoration: none;
        }
    }
        